/*Custom css file*/
#main-content{
    min-height: 643px;
}

.form-group span.required{
    color: #A94442;
}

.required label:after {content: " *"; color: red;}
.suggestion-img{
    margin-bottom: 20px;
}
.suggestion-img img{
    max-width: 100%;
}
.market-add{
    float: right;
}
.btn-add-specification {
    cursor: pointer;
}
.radio {
    float: left;
    width: 50%;
}
.productcolor .checkbox{
    float: left;
    width: 50%;
}
.warning {
    color: rgba(255, 255, 255, 0.87);
    background-color: #f77a99;
    float: right;
}